* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

@media (hover: none) {
    .header ul li a:hover {
        color: initial;
    }

    .header ul li:last-child a:last-child:hover {
        background-color: initial;
        color: initial;
    }
}