* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

@media (pointer: coarse) {
    .header ul li a:hover,
    .header ul li:last-child a:last-child:hover {
        background-color: inherit;
        color: inherit;
    }
}