@media (width <= 1275px) {
    .header, .home {
        padding-inline: 5%;
    }

    .header .logo:hover h2 {
        text-shadow: none;
    }

    .header .logo:active h2 {
        text-shadow: 0 0 8px #ffffffc3;
        transition: none;
    }

    .header ul li a:hover,
    .header ul li:last-child a:last-child:hover {
        background-color: inherit;
        color: inherit;
        transition: none;
    }

    .header ul li a:active {
        color: var(--color-standard-purple);
    }

    .header ul li:last-child a:last-child:active {
        background-color: var(--color-standard-purple);
        color: #ffffff;
    }

    .home {
        margin-top: 10px;
    }

    .home .home-left {
        transform: translateY(-3%);
    }


    .home .home-left form button:hover {
        color: #ffffff;
    }

    .home .home-left form button::before {
        opacity: 0;
    }
}

@media (width >= 993px) and (width <= 1035px) {
    .header ul {
        margin-right: 0;
    }

    .home {
        padding-inline: 0;
        justify-content: center;
    }

    .home .home-left {
        flex-direction: row;
        gap: 8rem;
    }

    .home .home-left h1 {
        width: 382px;
        font-size: 2.5rem;
        line-height: 42px;
    }

    .home .img-home {
        display: none;
    }
}

@media (width <= 992px) {
    .header, .home {
        flex-direction: column;
        text-align: center;
    }
    
    .header {
        padding-top: 50px;
        gap: 25px;
    }

    .header ul {
        margin-right: 0;
        justify-content: center;
        flex-wrap: wrap;
    }

    .home {
        min-height: auto;
        padding-top: 4rem;
    }

    .home .home-left {
        transform: none;
    }

    .home .home-left h1 {
        padding-inline: 10%;
        font-size: 3rem;
    }

    .home .home-left form {
        align-self: center;
        gap: 20px;
    }

    .home .img-home {
        display: none;
    }
}

@media (width <= 576px) {
    .header {
        padding-inline: 1.5%;
        gap: 40px;
    }

    .header h2 {
        font-size: 28px;
    }

    .header ul {
        line-height: 10px;
    }

    .header ul li a {
        font-size: 14px;
    }

    .home {
        padding: 20px 5%;
    }

    .home .home-left h1 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .home .home-left form {
        width: 90%;
    }

    .home .home-left form button {
        align-self: center;
    }
}

@media (width <= 200px) {
    .header {
        padding-top: 25px;
        gap: 20px;
    }

    .header .logo h2 {
        font-size: 21px;
    }

    .header ul {
        flex-direction: column;
        gap: 15px;
    }

    .header ul li a:hover {
        color: #ffffff;
    }

    .header ul li:last-child a:last-child {
        padding: 0;
        border: none;
        text-decoration: underline;
    }

    .header ul li:last-child a:last-child:hover {
        background-color: transparent;
    }

    .home .home-left h1 {
        padding-inline: 0;
        font-size: 18px;
        line-height: 20px;
    }

    .home .home-left p {
        font-size: 10px;
        line-height: 15px;
    }

    .home .home-left form {
        width: 100%;
        gap: 10px;
    }

    .home .home-left form input, form button {
        padding: 5px;
        border-radius: 5px;
        font-size: 8pt;
    }

    .home .home-left form input {
        padding: 2px;
        background-color: #E8F0FE;
        border: solid 1px #ffffff;
    }

    .home .home-left form button {
        width: 50%;
        background-color: transparent;
        color: #ffffff;
        border: solid 1px var(--color-standard-purple);
    }
}